.movie-detail {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.detail-poster {
  width: 300px;
  border-radius: 8px;
}

.detail-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detail-meta {
  color: #aaa;
}

.movie-detail button {
  width: fit-content;
}
